@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .iconContainer {
    @apply w-full h-12;
  }
  .jobCardHr {
    @apply h-[0.1px] w-full bg-gray-400;
  }
  .homeImage {
    @apply min-h-[260px] max-h-[260px] min-w-full object-cover;
  }
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 672px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  overflow: hidden;
  overflow-y: scroll;
  font-family: Arial (sans-serif);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
