@media only screen and (max-width: 600px) {
  .imageContainer::-webkit-scrollbar {
    display: none;
  }

  .imageContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media only screen and (min-width: 600px) {
  .imageContainer2::-webkit-scrollbar {
    display: none;
  }

  .imageContainer2 {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
